<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Reproductor de YouTube</title>
    <link rel="stylesheet" href="./estilos.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="menu"></div>

      <div id="buscador" class="animated fadeIn">
        <input
          type="text"
          placeholder="Añade una URL de YouTube..."
          v-model="laURL"
          v-show="!mostrar"
          @keyup.enter="showTitulo"
        />
        <input
          type="text"
          placeholder="Añade un título al video ..."
          id="ttl"
          v-model="elTitulo"
          v-show="mostrar"
          v-model="elTitulo"
          @keyup.enter="addDatos"
        />
      </div>

      <div id="listado" class="animated bounceInLeft">
        <ul>
          <li
            class="animated bounceInLeft"
            v-for="video in videos"
            @click="playVideo(video)"
            :class="{activo:video.activo}"
            @contextmenu.prevent="delVideo(video)"
          >
            <div class="titulo" :title="video.titulo">{{ video.titulo }}</div>
          </li>
        </ul>
      </div>

      <iframe id="rpd" allow="autoplay" :src="videoActivo"></iframe>
    </div>

    <script src="vue.js"></script>
    <script src="dimensiones.js"></script>
  </body>
</html>
